<tr>
  <td><%= review.created_at.strftime("%d/%m/%Y %H:%M") %></td>
  <td><b><%= link_to review.title, [:admins, review] %></b></td>
  <td><%= review.summary.truncate(170, separator: " ") %></td>
  <td><span class="glyphicon glyphicon-eye-open"></span> <%= review.impressionist_count filter: :session_hash %></td>
  <td>
    <% if review.pending?  %>
      Pending
    <% elsif review.approved?  %>
      Approved
    <% else  %>
      Rejected
    <% end %>
  </td>
  <td>
    <%= link_to "Edit", edit_admins_review_path(review),
      class: "btn btn-success col-md-5 col-md-offset-1" %>
    <%= button_to "Delete", admins_review_path(review), method: :delete,
      data: { confirm: "Are you sure?" },
      class: "btn btn-danger col-md-5 col-md-offset-1" %>
  </td>
</tr>
