<% provide :title, "All Reviews" %>

<div class="row">
  <div class="col-md-12">
    <div class="row center">
      <h1>All Reviews</h1>
      <%= link_to "New Review", new_admins_review_path, class: "btn btn-primary" if current_user %>
    </div>
  </div>
</div>

<br>
<div class="scrolltop-anchor"></div>
<div class="panel panel-default">
  <div class="panel-heading">
    Order by: <%= link_to "Submitted", sort: "created_at", direction: "desc",
      remote: true %> | <%= link_to "View Count", sort: "counter_cache",
      direction: "desc", remote: true %>
  </div>

  <table class="table">
    <thead>
    <tr>
      <th class="col-md-1">Created At</th>
      <th class="col-md-3">Title</th>
      <th class="col-md-4">Summary</th>
      <th class="col-md-1">Views</th>
      <th class="col-md-1">Status</th>
      <th class="col-md-2 center">Actions</th>
    </tr>
    </thead>

    <tbody id="devices">
    <%= render @reviews %>
    </tbody>
  </table>

  <div class="row center">
    <%= paginate @reviews, window: 3, remote: true %>
  </div>
</div>
