<tr>
  <td><%= user.created_at.strftime("%d/%m/%Y %H:%M") %></td>
  <td><%= link_to user.name, [:admins, user] %></td>
  <td><%= link_to user.email, [:admins, user] %></td>
  <% unless current_user == user %>
    <td>
      <%= link_to "Edit", edit_admins_user_path(user),
        class: "btn btn-success col-md-5 col-md-offset-1" %>
      <%= button_to "Delete", [:admins, user], method: :delete,
        data: { confirm: "Are you sure?" },
        class: "btn btn-danger col-md-5 col-md-offset-1" %>
  <% end %>
</tr>
