<% provide :title, t(:login) %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <br>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">
          <%= t :login %>
        </h1>
      </div>

      <div class="panel-body">
        <%= form_for resource, as: resource_name, url: session_path(resource_name) do |f| %>
          <%= f.label :email %><br/>
          <%= f.email_field :email, autofocus: true, class: "form-control" %>

          <%= f.label :password %><br/>
          <%= f.password_field :password, autocomplete: "off", class: "form-control" %>

          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>

          <div class="actions">
            <%= f.submit t(:login), class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>

      <div class="panel-footer">
        <div class="center">
          <a href="auth/facebook" class="auth_provider">
            <%= image_tag "authbuttons/facebook_64.png", size: "64x64",
            alt: "Sign in with Facebook" %></a>
        </div>
      </div>
    </div>
  </div>
</div>

