<p id="notice"><%= notice %></p>

<div class="center">
<h1>Users</h1>
<%= link_to "New User", new_admin_user_path, class: "btn btn-primary"%>
<hr />
</div>
<table class="table">
  <thead>
    <tr>
      <th>Email</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
    <tbody>
    <% @users.each do |user| %>
        <tr>
          <td><%= user.email %></td>
            <% unless current_user == user %>
            <td><%= link_to "Show", admin_user_path(user) %></td>
            <td><%= link_to "Edit", edit_admin_user_path(user) %></td>
            <td><%= link_to "Destroy", admin_user_path(user), method: :delete, data: { confirm: "Are you sure?" } %></td>
            <% end %>
        </tr>
    <% end %>
  </tbody>
</table>
