<% if @review.errors.any? %>
    <ul>
      <%= @review.errors.full_messages.each do |message| %>
          <li><%= message %></li>
      <% end %>
    </ul>
<% end %>
<%= form_for @review do |f| %>
    <div>
      <%= f.label :title %>
    </div>
    <div>
      <%= f.text_field :title %>
    </div>
    <div>
      <%= f.label :device_id %>
    </div>
    <div>
      <%= collection_select :review, :device_id, Device.all, :id, :name, prompt: true %>
    </div>
    <div>
      <%= f.label :content %>
    </div>
    <div>
      <%= f.cktext_area :content, rows: 10 %>
    </div>
    <br>
    <div>
      <%= f.submit class: "btn btn-primary" %>
    </div>
    <br>
    <div>
      <%= link_to "Back to All Reviews", reviews_path, class: "btn btn-default" %>
    </div>
<% end %>
