<div class="media review-list">
  <div class="media-left">
    <%= link_to image_tag(review.cover_image.url(:thumb), title: review.title,
      alt_text: review.title, class: "media-object"), review_path(review) %>
  </div>
  <div class="media-body">
    <h3 class="media-heading">
      <%= link_to review.title.html_safe.truncate(100, separator: " "),
        review_path(review) %>
    </h3>
    <p><%= review.summary.html_safe.truncate(230, separator: " ") %></p>
    <div class="row">
      <div class="col-md-6">
        <span class="glyphicon glyphicon-phone"></span> <%= link_to review.device.name, device_path(review.device) %>
      </div>
      <div class="col-md-6" style="text-align: right">
        <span class="glyphicon glyphicon-eye-open"></span> <%= review.
          impressionist_count filter: :session_hash %>
      </div>
    </div>
  </div>
</div>
