<% provide :title, "All Reviews" %>

<div class="row">
  <div class="col-md-12">
    <div class="container">
      <div class="row center">
        <div class="col-md-8 col-md-offset-2">
          <%= carousel_for @hot_reviews %>
        </div>
      </div>
    </div>

    <br>

    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="row">
            <div class="filter">
              <%= link_to "Newest", {sort: "created_at", direction: "desc",
                remote: true}, class: "sort-link sort-link-active" %>
              <%= link_to "Most Viewed", {sort: "counter_cache", direction:
                "desc", remote: true}, class: "sort-link" %>
            </div>
          </div>

          <br>
          <div class="scrolltop-anchor"></div>
          <div class="row" id="reviews">
            <%= render @reviews %>
          </div>

          <div class="center">
            <%= paginate @reviews, window: 3, remote: true %>
          </div>
        </div>

        <div class="col-md-4">
          <%= render "search_form" %>

          <div class="hot-review">
            <h3 class="center">Hot Reviews of the Month</h3>
            <%= render partial: "hot_review", collection: @hot_reviews %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
