<% provide :title, "Review" %>
<div class="row">
  <div class="col-md-12">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="row review-content">
            <h3><%= @review.title.html_safe %></h3>
            <div class="quote">
              A Review for <%= link_to @review.device.name, @review.device %>
            </div>
            <div class="quote"><%= @review.summary %></div>
            <%= render "compares" %>
            <div class="content review-body"><%= @review.content.html_safe %></div>
            <div class="author">
              <span class="glyphicon glyphicon-user" aria-hidden="true"><%= @review.user.name %></span>
              <span class="glyphicon glyphicon-calendar" aria-hidden="true"><%= @review.created_at.strftime("%d/%m/%Y %H:%M") %></span>
            </div>
            <%= render "ratings" %>
          </div>

          <hr>
          <div class="row">
            <div class="comment-title">
              <b>Comments</b>
            </div>
            <div class="comment-box">
              <% if @review.comments.any? %>
                <div id="comments-list">
                  <%= render @review.comments %>
                </div>
              <% end %>
              <% if user_signed_in? %>
                <div id="comment-form">
                  <%= render "comments/form", comment: @comment, review: @review %>
                </div>
              <% else%>
                <div class="center">
                  Please <%= link_to "Sign In", new_user_session_path %> to leave a comment!
                </div>
              <% end %>
            </div>
          </div>
          <div class="center">
            <br />
            <%= link_to "Back to All Reviews", reviews_path, class: "btn btn-default" %>
          </div>
        </div>

        <div class="col-md-4">
          <div class="hot-review">
            <h3 class="center">Hot Reviews of the Month</h3>
            <%= render partial: "hot_review", collection: @hot_reviews %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
