<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Smartphone Reviews", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <% if current_user %>
            <% if current_user.admin? %>
                <li><%= link_to "Users", admin_users_path %></li>
                <li><%= link_to "Devices", devices_path %></li>
            <% end %>
            <li><%= link_to "Reviews", reviews_path %></li>
            <li><%= link_to "My Reviews", current_user %></li>
            <li><%= link_to "Profile", edit_user_registration_path %></li>
            <li><%= link_to "Sign Out", destroy_user_session_path,
                            method: :delete %></li>
        <% else %>
            <li><%= link_to "Sign Up", new_user_registration_path %></li>
            <li><%= link_to "Sign In", new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
